* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.book {
  text-align: center;
}
.user {
  display: flex;
  justify-content: center;
}
.user table {
  border-bottom: 1px solid gray;
}
table {
  border-collapse: collapse;
}
th {
  background-color: burlywood;
}
.user td {
  padding: 0 15px 0 10.5px;
  background-color: burlywood;
}
td {
  border-collapse: collapse;
}
.bookmsg {
  display: flex;
  justify-content: center;
}
